#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100vh;
  max-width: 100vw;
}
.app > div{
  min-width: 90vh;
}
*{
  box-sizing: border-box;
}